@model IEnumerable<EMS_DbFirst.Models.Department>
<div class="container">
<h1>Department List</h1>
<h3>@Html.ActionLink("Add Department","Create")</h3>
<br>
    <table class="table table-bordered">
        <thead>
        <th>@Html.DisplayNameFor(m=>m.Id)</th>
        <th>@Html.DisplayNameFor(m=>m.DeptName)</th>
        <th>@Html.DisplayNameFor(m=>m.Location)</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DeptName</td>
                    <td>@item.Location</td>
                    <td></td>
                    <td>
                        @Html.ActionLink("Details","Display","Dept",new{id=item.Id}) &nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Edit","Edit","Dept",new{id=item.Id}) &nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Details","Delete","Dept",new{id=item.Id}) &nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            }
        </tbody>        
    </table>
</div>