@model IEnumerable<ProdMvc.Models.Product>
<h1>Product</h1>
<hr>
@Html.ActionLink("Add Record","Create");
<table class="table">
    <thead>
        <th>@Html.DisplayNameFor(m=>m.Id)</th>
        <th>@Html.DisplayNameFor(m=>m.Name)</th>
        <th>@Html.DisplayNameFor(m=>m.Price)</th>
        <th>@Html.DisplayNameFor(m=>m.Stock)</th>
    </thead>
    <tbody>
        @foreach (var data in @Model)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.Name</td>
                <td>@data.Price</td>
                <td>@data.Stock</td>
                <td>@Html.ActionLink("Display","Display","Product",new {id=@data.Id})</td>&nbsp;&nbsp;
                <td>@Html.ActionLink("Edit","Edit","Product",new {id=@data.Id})</td>&nbsp;&nbsp;
                <td>@Html.ActionLink("Delete","Delete","Product",new {id=@data.Id})</td>&nbsp;&nbsp;
            </tr>
        }
    </tbody>
</table>